{% extends 'base.html.twig' %}

{% block title %}ProductoTraslado index{% endblock %}

{% block body %}
    <h1>ProductoTraslado index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CantSacos</th>
                <th>PesoBruto</th>
                <th>Tara</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Activo</th>
                <th>Uuid</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producto_traslado in producto_traslados %}
            <tr>
                <td>{{ producto_traslado.id }}</td>
                <td>{{ producto_traslado.cantSacos }}</td>
                <td>{{ producto_traslado.pesoBruto }}</td>
                <td>{{ producto_traslado.tara }}</td>
                <td>{{ producto_traslado.createdAt ? producto_traslado.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ producto_traslado.updatedAt ? producto_traslado.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ producto_traslado.activo ? 'Yes' : 'No' }}</td>
                <td>{{ producto_traslado.uuid }}</td>
                <td>
                    <a href="{{ path('producto_traslado_show', {'id': producto_traslado.id}) }}">show</a>
                    <a href="{{ path('producto_traslado_edit', {'id': producto_traslado.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('producto_traslado_new') }}">Create new</a>
{% endblock %}
