{% extends 'base.html.twig' %}
{% import 'macro/breadcrumb.html.twig' as breadcrumb %}
{% import 'macro/action.html.twig' as action %}
{% import 'macro/pagination.html.twig' as pagination %}

{% set _title = 'Conductor' %}
{% set _main_title = 'Listado' %}
{% set _section =  'conductor_index' %}

{% block _breadcrumb %}
    {{ breadcrumb.show(_title) }}
{% endblock %}

{% block _main %}
    <div class="table-responsive">
        {{ action.tbl_start() }}
        {{ action.thead_start() }}
        <tr>
            {{ action.th('Nombre', true) }}
            {{ action.th('Ap. Paterno', true) }}
            {{ action.th('Ap. Materno', true) }}
            {{ action.th('Licencia', true) }}
            {{ action.th('Activo', true, 'text-center') }}
            <th></th>
        </tr>
        {{ action.thead_end() }}
        {{ action.tbody_start() }}
        {% for conductor in paginator.results %}
            <tr>
                <td>{{ conductor.nombres }}</td>
                <td>{{ conductor.apellidoPaterno }}</td>
                <td>{{ conductor.apellidoMaterno }}</td>
                <td>{{ conductor.licencia }}</td>
                <td class="text-center">{{ conductor.activo | yesnocustom | raw }}</td>
                <td>
                    {% if access.has('view') %}
                        {{ action.btn_show_link2_ico(path('conductor_show', {'id': conductor.id})) }}
                    {% endif %}
                    {% if access.has('edit', conductor) %}
                        {{ action.btn_edit_link2_ico(path('conductor_edit', {'id': conductor.id})) }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">No hay registros</td>
            </tr>
        {% endfor %}
        {{ action.tbody_end() }}
        {{ action.tbl_end() }}
    </div>

    {{ pagination.show(paginator, _section) }}
{% endblock %}

{% block _main_footer %}
    {% include 'crud/_index_links.html.twig' with {'route_base': 'conductor'} %}
{% endblock%}

{% block _main_options %}
    {% include 'crud/_index_filter.html.twig' %}
{% endblock %}

{% block _main_tools %}
    {% include 'crud/_tools_ico.html.twig' %}
{% endblock %}

{% block _body_tools_ico %}
    {% include 'crud/_index_links_tool.html.twig' with {'route_base': 'conductor'}  %}
{% endblock %}

{% block _body_tools %}
    {% include 'crud/_index_links_ico.html.twig' with {'route_base': 'conductor'}  %}
{% endblock %}

{% block _stylesheets %}
{% endblock %}

{% block _javascripts %}
    <script>
        $(document).ready(function () {
            $(document).on('change', '#filter_size', function () {
                let route = '{{ path('conductor_index') }}';
                route = route + "?" + 'n=' + $('#filter_size option:selected').val();
                route = route + "&" + 'b=' + $('#filter_text').val();
                window.location = route;
            });

            $(document).on('click', '.btn-send', function () {
                window.location = '{{ path('conductor_index') }}';
            });

            $(document).on('click', '.btn-clean', function () {
                window.location.href = '{{ path('conductor_index') }}';
            });
        });
    </script>
{% endblock %}
